form {
    background: linear-gradient(45deg, white, lightgray);
    position: absolute;
    width: 500;
    height: 55%;
    border-radius: 5;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 0 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: fade 0.5s both;
}

input.script {
    padding: 10px 0 100px 10px;
}

input.script {
    background: linear-gradient(45deg, gray, transparent 175%);
    font-family: Console;
    color: white;
}

input.style {
    height: 50px;
    width: 450px;
}

input.style[type='range'] {
    width: 425;
    height: 0;
    box-shadow: none;
}

label {
    color: gray;
    padding: 5;
}

div.labels {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

div.preview {
    position: fixed;
    top: 66.6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

svg.close {
    position: absolute;
    top: 25;
    right: 25;
    fill: gray;
}

p.alert {
    margin: 25px;
    color: gray;
}