form {
    position: absolute;
    width: 500;
    height: 50%;
    border-radius: 10;
    box-shadow: rgba(0, 0, 0, 0.50) 0 0 0 2000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

label {
    color: gray;
}

div.labels {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

svg.close {
    position: absolute;
    top: 25;
    right: 25;
    fill: gray;
}

p.alert {
    margin: 25px;
    color: gray;
}