@keyframes darkness {
    to {
        background: #333;
    }
}

header {
    background: #ffffff;
    height: 100px;
    box-shadow: gray 10px 10px 10px;
}

div.project {
    background: linear-gradient(45deg, #4C516D, #808080 200%);
    height: 30px;
    padding: 0px 10px;
}

svg {
    width: 25px;
    height: 25px;
    padding: 2.25px 10px;
    display: inline-flex;
    cursor: pointer;
    fill: white;
}

svg:hover {
    animation: darkness 0.25s both;
}

svg.account {
    position: absolute;
    right: 100px;
    border-left: gray solid 1px;
}

p.project,
p.account {
    width: 100px;
    padding: 4.75px;
    position: absolute;
    display: inline;
    color: white;
    text-align: center;
    font-weight: lighter;
}

p.account {
    right: 0;
}