nav {
    background: linear-gradient(45deg, #4C516D, #808080 200%);
    height: 30;
    padding: 0 10;
}

p.value {
    width: 100%;
    padding: 4.75;
    position: absolute;
    display: inline;
    color: white;
    text-align: start;
    font-weight: lighter;
}