@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.diagram,
div.tools {
    position: absolute;
}

div.diagram {
    width: 100%;
    height: 99%;
    overflow: hidden;
    border-bottom: orange solid 1px;
}