div.tools {
    width: 7%;
    height: 100%;
    padding-right: 2.5%;
    margin-left: 92%;
    background: #131315;
    border-left: dashed gray 1px;
}

p.enlarge,
p.reduce {
    font-size: xx-large;
}

p.enlarge,
p.reduce,
p.values {
    margin: 0%;
    color: grey;
    text-align: center;
    width: 110%;
    user-select: none;
}

p.enlarge:hover,
p.reduce:hover,
p.values:hover {
    color: white;
    cursor: pointer;
}

p.values {
    padding: 25% 0%;
}