@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@font-face {
    font-family: Assistant-Light;
    src: url("./fonts/Assistant-Light.ttf");
}

@font-face {
    font-family: Assistant-Medium;
    src: url("./fonts/Assistant-Medium.ttf");
}

body {
    background: black;
    margin: 0%;
    padding: 0%;
}

p,
input,
select {
    font-family: "Assistant-Light";
}

p {
    font-family: "Assistant-Light";
    color: white;
}

input,
select,
button {
    background: #212125;
    border: solid transparent 1px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
}

div.tab,
div.tools {
    position: absolute;
}

div.tab {
    width: 100%;
    height: 99%;
    overflow: hidden;
    border-bottom: orange solid 1px;
    background: #1b1816;
}

option.label {
    color: gray;
}