@keyframes darkness {
  to {
    background: #00000075;
  }
}

@keyframes lightness {
  to {
    fill: orangered;
    background: #77777727;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    display: none;
    visibility: hidden;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Assistant';
  src: url('./fonts/Assistant.ttf');
}

@font-face {
  font-family: 'console';
  src: url('./fonts/Console.ttf');
}

* {
  font-family: 'Assistant';
  margin: 0%;
}

body {
  background: linear-gradient(45deg, #4C516D, #a9a9a9 50%);
  height: 100vh;
  overflow: hidden;
}

div.overview {
  height: 570;
  margin: 1%;
  padding: 1%;
  background: linear-gradient(-45deg, lightgray, transparent);
  border: solid lightgray 1;
  border-radius: 10;
  overflow: scroll;
}

svg {
  width: 25;
  padding: 2.25 10;
  border-radius: 10;
  display: inline-flex;
  cursor: pointer;
}

svg:hover {
  animation: darkness 0.25s both;
}

svg.tools:hover {
  animation: lightness 0.25s both;
}

svg.close {
  filter: invert(1);
  border-radius: 10;
}

svg.tools {
  width: 35;
  margin: 10 0 0 50;
  padding: 1 10;
}

h1,
h2,
h3 {
  font-weight: unset;
  margin: 25;
}

label {
  margin: 10 25;
  display: flex;
}

input,
button,
select,
option {
  background: white;
  border-radius: 10;
  border: none;
  padding: 10;
  box-shadow: lightgray 5 5 5;
  width: 425;
  margin: 0 25;
  color: orangered;
}

select {
  width: 445;
}

button:hover,
input:hover,
select:hover,
option:hover {
  cursor: pointer;
}

input[type=submit],
input[type=button] {
  box-shadow: none;
  border: none;
  background: #4C516D;
  color: white;
  position: absolute;
  bottom: 25;
  right: 0;
  width: 100;
}

input[type=button] {
  right: 110;
  background: gray;
}

small {
  position: absolute;
  top: 80;
  width: 155;
  text-align: center;
  text-transform: capitalize;
  color: #4c516d;
}

small:hover {
  cursor: pointer;
}

img {
  position: fixed;
  background: radial-gradient(darkgray, #4C516D);
  width: 225;
  padding: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fade 1s 2.5s both reverse;
}