div.bar {
    width: 1%;
    bottom: 0%;
    left: 5%;
    position: absolute;
    background: #1b1816;
}

p#y {
    position: fixed;
    left: 0%;
    margin-top: -1.5%;
    padding-left: 0.5%;
    border-bottom: gray dashed 1px;
    color: #1b1816;
    width: 100%;
    font-size: large;
}