table {
    margin-left: 75.75%;
    padding: 1%;
    width: 25%;
    font-family: "Assistant-Light";
    text-align: center;
    background: #181819;
    position: fixed;
}

caption {
    padding: 2%;
    color: white;
    border-bottom: gray solid 1px;
}

input.add {
    width: 100%;
    height: 25px;
}