table {
    top: 0%;
    right: 0%;
    padding: 1%;
    position: fixed;
    color: white;
    font-family: "Assistant-Light";
    text-align: center;
    background: #181819;
}

tbody {
    background: #212125;
}

button.raw {
    color: red;
    width: 75px;
    padding: 1%;
    font-size: small;
}