div.tools {
    width: 2.75%;
    height: 100%;
    right: 0;
    background: linear-gradient(#212125,rgb(26, 28, 39));
    border-left: dashed gray 1px;
    position: absolute;
}

p.tools {
    margin: 0%;
    width: 40px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    color: lightgrey;
    background:#181819;
    border-bottom: #80808080 solid 1px;
    user-select: none;
    cursor: pointer;
}

p.tools:hover {
    color: white;
}